
@media (max-width: 1399.98px) {
  
}
@media (max-width: 1199.98px) {

.doctorCProfileCard{
  display: flex;
  flex-direction: column;
  gap: 24px 24px;
  text-align: center;
}

.Specialization{
   margin-left: auto;
   margin-right: auto;
}
.DoctorProfilePic{
    flex: 0 0 auto;
    width: 38%;
    margin-left: auto;
   margin-right: auto;
}
.socialCardIcon {
justify-content: center;
}

.DoctorProfilePic{
    width: 60%;
}

.contact_socialmedia .floatingText{
  display: none;
}

.contact_socialmedia a {
    font-size: 15px;
}

}


 @media (max-width: 1080.98px) {
.wrapheder {
    min-height: 89.33px;
}
.Banner #ca1.owl-carousel .item{
    height: calc(100vh - 89.33px);
  }
 }




@media (max-width: 1024.98px) {
  #ca1.owl-carousel .item1 {
  background: url("../image/BannerMOB3.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item2 {
  background: url("../image/BannerMOB2.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item3 {
  background: url("../image/BannerMOB1.webp") center/cover no-repeat;
}
.bannertext1 {
  background-color: #ffffffbd;
}

}

@media screen and (device-width: 1024px) and (device-height: 600px) and (orientation: landscape) {
  /* Styles for Google Nest Hub in landscape */
 #ca1.owl-carousel .item1 {
  background: url("../image/Banner3.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item2 {
  background: url("../image/Banner2.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item3 {
  background: url("../image/Banner1.webp") center/cover no-repeat;
}

}



@media (max-width: 991.98px) {


  .footer .container > .row {
    row-gap: 30px;
  }

  .navLink {
    color: var(--primary-color);
    padding: 12px 8px;
}
.navLink.active {
  color: var(--HoverSecondary);
}
.navMenu {
  gap: 4px;
}

  .testimonialBox{
    padding-left: 40px;
    width: 100%;
    padding-top: 130px;
    margin-top: 120px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .profilePic {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-50%);
    width: 200px;
    border: 10px solid var(--primary-color);
    box-shadow: 10px 10px 24px 2px rgba(0,0,0,0.25);
  }

  .FAQ_row {
    row-gap: 30px;
    flex-direction: column-reverse;
  }

  .contact_socialmedia .floatingText{
  display: block;
}
.diabetesIntro .container>.row{
  flex-direction: column-reverse;
}
.symptomsSection .container>.row{

  row-gap: 30px;
}
.diabetesDiagnose .container>.row{
  flex-direction: column-reverse;
  row-gap: 30px;
}

.typesInfo p{
  font-size: 15px;
}
}

@media (max-width: 767.98px) {
  .footer,
  .footer .secH{
    text-align: center;
  }
 
  .defaultPadding {
    padding: 50px 0;
  }
  .footer.defaultPadding {
    padding: 34px 0;
  }
  .footer .secH {
    margin-bottom: 24px;
  }
  .footWrap > .row {
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    flex-direction: column;
  }
   .footer .social-icons {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .footer .exploreLinks ul li,
  .footer .exploreLinks1 ul li {
    text-align: left;
  }
  .footer-brand {
    display: table !important;
    margin: auto;
  }
  .footer .locationLink {
    max-width: 304px;
  }
 
  .footer .exploreLinks1 ul {
    max-width: 352px;
    margin: auto;
  }
  .footer .exploreLinks ul {
    width: 203px;
    max-width: 203px !important;
    margin: auto;
  }
 

  .footer.homePage0{
    padding-top: 123px;
  }

  #main-header .mainLy > a.btnFill{
display: none;
  }
  .heavyNav .mainLy{
    justify-content: flex-end;
  }

   .Banner .owl-nav{
    display: none;
  }
  .bannertext1 {
    text-align: center;
  }

     .contactCard1{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact_socialmedia .secH {
       text-align: center;
    }
    .contact_socialmedia .socialIcons{
        justify-content: center;
    }
    .contact_socialmedia .Shedule i.fa-business-time{
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .contact_socialmedia h2.fsP{
        font-size: 24px;
    }

}

@media (max-width: 575.98px) {
 

  .footer .fourthH {
    margin-bottom: 20px;
  }


.imgWrap1{
  padding: 0 0px 40px 0;
}

.floatingText{
  font-size: 76px;
  line-height: 80px;
}
.imgWrap1 .floatingText{
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.numbered{
  padding: 24px 0  0 24px;
}
.floatingNumbers{
  font-size: 100px;
  line-height: 90px;
}

.newBanner.aboutPage0{
  background: linear-gradient(#00000060,#00000060) center/cover no-repeat, url('../image/AboutBanner.webp') calc(100% + 250px)/cover no-repeat;
}


.UlStyle li {
  flex-direction: column;
}

.riskFactorsAndDiagnosis .UlStyle li {
    gap: 0px;
}

.footer .contact-info i{
  font-size: 14px;
}
.contact-info{
  font-size: 13px;
}

 .footer ul.contact-info{
    width: 330px;
  }

}

@media only screen and (max-height: 539.98px) {
  .Banner #ca1.owl-carousel .item {
    padding: 80px 12px;
    background-color: red;
    height: unset;
  }
  #ca1.owl-carousel .item > .container {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    width: auto;
  }
}
@media only screen and (max-height: 539.98px) and (max-width: 1024px) {
  .Banner #ca1.owl-carousel .item {
    padding: 80px 12px;
    background-color: red;
    height: unset;
  }
  #ca1.owl-carousel .item > .container {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    width: auto;
  }

}

